* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(177, 241, 241);
}


main {
    background-color: rgb(146, 146, 190);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 5px rgb(46, 45, 45);
}